<% const rootPath = '../../'; %> <%- include(rootPath + 'mail/baseHeader'); %>

<div>
  <h1>Cher utilisateur de l’outil CarbonEM,</h1>

  <p>
    Bienvenue sur la plateforme CarbonEM,<br />
    Ce mail vous permet de valider votre inscription et d’acc&eacute;der aux premiers
    conseils pour prendre en main l’outil.<br />
    En activant votre compte, <b><u>vous acceptez les CGU</u></b
    > disponibles sur ce
    <a
      href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/42f75d8f-59a9-448a-bcec-740f2707faf4/CGU_-_WeCount_Adhrents_Leem_-_VDEF_-_25_FEV_2022.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220228%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220228T105109Z&X-Amz-Expires=86400&X-Amz-Signature=84311bde0aad5fb8e12ce9dd2ef8fcc1c0de1510dc875b5373a3bd9b60aa5f35&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22CGU%2520-%2520WeCount%2520Adh%25C3%25A9rents%2520Leem%2520-%2520VDEF%2520-%252025%2520FEV%25202022.pdf%22&x-id=GetObject"
      >lien</a
    >.
    <br />
    Pour activer votre compte, merci de cr&eacute;er votre mot de passe en cliquant sur
    le lien suivant :
  </p>

  <p><a href="<%= url %>">Activer mon compte</a></p>

  <p>
    Pour prendre au main la plateforme, et en attendant les formations
    dispens&eacute;es par le Leem, vous trouverez sur les liens suivants des
    r&eacute;ponses &agrave; vos premi&egrave;res questions
  </p>

  <ul>
    <li>
      <a
        href="https://www.notion.so/wecount/Comment-ajouter-un-nouvel-utilisateur-7d2cb0702d1d4eb7b35650f423abdb1b"
        >Comment ajouter un nouvel utilisateur ?</a
      >
    </li>
    <li>
      <a
        href="https://www.notion.so/wecount/Quels-sont-les-diff-rents-types-d-utilisateurs-cdeeade1718e41e78d01b88820669017"
        >Quels sont les diff&eacute;rents types d’utilisateurs ?</a
      >
    </li>
    <li>
      <a
        href="https://www.notion.so/wecount/Comment-changer-l-ann-e-et-le-nom-de-ma-premi-re-campagne-b92372a82e1640ab9c10e34d7f44383f"
        >Comment changer l’ann&eacute;e et le nom de ma premi&egrave;re campagne ?</a
      >
    </li>
    <li>
      <a
        href="https://www.notion.so/wecount/Comment-ajouter-un-site-216bd80a84154b72b5024f318a5717e0"
        >Comment ajouter un site ?</a
      >
    </li>
    <li>
      <a
        href="https://www.notion.so/wecount/Comment-ajouter-un-produit-2b3af6d7bab0499a8aa9aa8f8a940ade"
        >Comment ajouter un produit ?</a
      >
    </li>
    <li>
      <a
        href="https://www.notion.so/Comment-choisir-quels-cat-gories-et-activit-s-sont-visibles-sur-votre-cartographie-65af004a99394d8cb829efda3b081c3e"
        >Comment choisir quels cat&eacute;gories et activit&eacute;s sont
        visibles sur votre cartographie ?</a
      >
    </li>
  </ul>

  <p>Pour rappel:</p>
  <ul>
    <li>La plateforme permet 8 acc&egrave;s au maximum.</li>
    <li>
      La licence octroy&eacute;e couvre le p&eacute;rim&egrave;tre France et
      uniquement les activit&eacute;s pharmaceutiques (sont exclues les
      activit&eacute;s v&eacute;t&eacute;rinaires, cosm&eacute;tiques et les
      dispositifs m&eacute;dicaux).
    </li>
  </ul>

  <p>
    Pour toutes questions veuillez contacter
    <a href="mailto:responsabilite@leem.org">responsabilite@leem.org</a>,
    <a href="mailto:jlangevin@leem.org">jlangevin@leem.org</a> et/ou
    <a href="mailto:cbarbet@leem.org">cbarbet@leem.org</a>
  </p>

  <p>
    Mentions d’information concernant le traitement de vos donn&eacute;es &agrave; caract&egrave;res
    personnelles :
    <br />
    <i>
      Le Leem traite vos donn&eacute;es personnelles dans le cadre de la mise &agrave;
      disposition de la plateforme CarbonEM &agrave; votre entreprise.</i
    >
    <br />
    <i
      >Vous disposez d’un droit d’acc&egrave;s, de rectification et d’effacement de vos
      donn&eacute;es, d’un droit &agrave; la limitation du traitement, d’un droit &agrave; la
      portabilit&eacute; de vos donn&eacute;es.</i
    >
    <br />
    <i>
      Vous pouvez vous opposer au traitement de vos donn&eacute;es pour des raisons
      tenant &agrave; votre situation particuli&egrave;re.</i
    >
    <br />
    <i>
      Pour en savoir plus sur le traitement de vos donn&eacute;es personnelles et pour
      exercer vos droits, reportez-vous &agrave; la notice disponible au
      <a
        href="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/42f75d8f-59a9-448a-bcec-740f2707faf4/CGU_-_WeCount_Adhrents_Leem_-_VDEF_-_25_FEV_2022.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220228%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220228T105109Z&X-Amz-Expires=86400&X-Amz-Signature=84311bde0aad5fb8e12ce9dd2ef8fcc1c0de1510dc875b5373a3bd9b60aa5f35&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22CGU%2520-%2520WeCount%2520Adh%25C3%25A9rents%2520Leem%2520-%2520VDEF%2520-%252025%2520FEV%25202022.pdf%22&x-id=GetObject"
      >
        lien suivant - Paragraphe 15 </a
      >.
    </i>
  </p>

  <p>L’&eacute;quipe CarbonEM</p>
</div>

<%- include(rootPath + 'mail/baseFooter'); %>
