<% const rootPath = '../../'; %>
<%- include(rootPath + 'mail/baseHeader'); %>

<p>
    Hello, and welcome to WeCount !

    <br><br>You have been created an account. To complete it, please click on <a href="<%= url %>">that link</a>.

    <br><br>See you soon,

    <br><br>WeCount's team
</p>

<%- include(rootPath + 'mail/baseFooter'); %>