<% const rootPath = '../../'; %>
<%- include(rootPath + 'mail/baseHeader'); %>

<p>
    Bonjour, et bienvenue chez WeCount !

    <br><br>Un compte a &eacute;t&eacute; cr&eacute;&eacute; pour vous. Pour finaliser votre compte, veuiller cliquer sur <a href="<%= url %>">ce lien</a>.

    <br><br>&Agrave; bient&ocirc;t,

    <br><br>L'&eacute;quipe WeCount
</p>

<%- include(rootPath + 'mail/baseFooter'); %>