<% const rootPath = '../../'; %>
<%- include(rootPath + 'mail/baseHeader'); %>

<p>
    You asked to reset your password

    <br><br>Please click on <a href="<%= url %>">that link</a> to reset your password.
</p>

<%- include(rootPath + 'mail/baseFooter'); %>